%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
%script(src="/alert.js")

.row
  .span10.offset1

    #introduction
      %h1
        Добро пожаловать!

      %p
        Вам будет предложен тест в процессе которого нужно классифицировать
        по категориям ряд фотографий и слов.
      %p
        Вверху каждой страницы будут даны названия категорий.
        Если слово или фотография относится к категории, находящейся слева,
        нажмите клавишу "e". Если слово или фотография относится к категории,
        находящейся справа, нажмите клавишу "i". Удобнее всего сразу расположить
        средние пальцы левой и правой рук на соответствующих клавишах. Не забудьте
        переключиться на английскую раскладку =)
      %p
        Постарайтесь классифицировать предъявляемые Вам слова и
        фотографии как можно быстрее и делать как можно меньше ошибок.
        Каждая из появляющихся картинок обязательно относится к одной из предложенных
        категорий.
      %p
        Ниже приведён список категорий и относящиеся к ним слова и фотографии.

      %table.table.table-condensed.table-bordered
        %thead
          %tr
            %th
              Категории
            %th
              Слова и фотографии
        %tbody
          %tr
            %td
              Хорошее
            %td
              Радость, любовь, мир, удовольствие, слава, смех, счастье, красота, радуга, рай
          %tr
            %td
              Плохое
            %td
              Агония, страх, ужас, зло, поражение, грязь, война, яд, болезнь, преступление
          %tr
            %td
              Кавказцы
            %td
              Лица кавказцев
          %tr
            %td
              Русские
            %td
              Лица русских

    %form.form-horizontal{:action => '/quest', :method => 'POST'}
      %fieldset
        .row-fluid.well
          .span4
            #personal-data

              %legend
                Заполните данные о себе

              .control-group
                %label.control-label{:for => 'age'}
                  Возраст:
                .controls
                  %input.input-small{:type => 'text', :id => 'age', :name => 'quest[age]', :placeholder => '15'}

              .control-group
                %label.control-label{:for => 'sex'}
                  Пол:
                .controls
                  %label.radio.inline
                    %input{:type => 'radio', :name => 'quest[sex]', :id => 'sex1', :value => 'male'}
                      м
                  %label.radio.inline
                    %input{:type => 'radio', :name => 'quest[sex]', :id => 'sex2', :value => 'female'}
                      ж

              .control-group
                %label.control-label{:for => 'school'}
                  Номер школы, лицея:
                .controls
                  %input.input-small{:type => 'text', :id => 'school', :name => 'quest[school]', :placeholder => '183'}

              .control-group
                %label.control-label{:for => 'ethnicity'}
                  Этнос:
                .controls
                  %input.input-small{:type => 'text', :id => 'ethnicity', :name => 'quest[ethnicity]', :placeholder => 'русская'}

          .span7
            #behaviour

              %legend
                Я не имею ничего против того, чтобы представители Кавказа...

              .control-group
                .first
                  %label.checkbox
                    %input{:type => "checkbox", :value => "live", :name => 'quest[live]'}
                      жили со мной в одном городе
                  %label.checkbox
                    %input{:type => "checkbox", :value => "neighbour", :name => 'quest[neighbour]'}
                      были бы моими соседями
                  %label.checkbox
                    %input{:type => "checkbox", :value => "study", :name => 'quest[study]'}
                      учились бы вместе со мной
                  %label.checkbox
                    %input{:type => "checkbox", :value => "friends", :name => 'quest[friends]'}
                      были бы моими друзьями
                  %label.checkbox
                    %input{:type => "checkbox", :value => "relatives", :name => 'quest[relatives]'}
                      были бы моими родственниками
                  %label.checkbox
                    %input{:type => "checkbox", :value => "family", :name => 'quest[family]'}
                      были бы членами моей семьи
                  %label.checkbox
                    %input{:type => "checkbox", :value => "encounter", :name => 'quest[encounter]'}
                      Я желаю как можно реже встречаться с этими людьми

        .actions
          #submit-button
            %button.btn-primary.btn-large{:type => 'submit'}
              Поехали!
