!!! 5
%html
  %head
    %link{:href => '/css/bootstrap.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/custom.css', :rel => 'stylesheet', :type => 'text/css'}

  %body
    #browser-alert.alert.alert-error
      %h3
        К сожалению тест будет работать некорректно в браузере Opera.
        Пожалуйста используйте Firefox, Chrome, Safari или IE.
    .container
      = yield
