.row-fluid
  .span3
    %h1
      Кавказцы
      %br/
      или
      %br/
      Хорошее
    %h2
      "e"
  .span6
    %h1
      Часть шестая
    #place
      #showcase.init
        %ul
          %li
            Удостоверьтесь, что названия категорий вверху экрана видны.
          %li
            Нажимайте клавишу "е", если фотография относится к категории указанной слева (Кавказцы или Хорошее).
          %li
            Нажимайте клавишу "i", если фотография относится к категории указанной справа (Русские или Плохое).
          %li
            Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
          %li
            Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
  .span3
    %h1
      Русские
      %br/
      или
      %br/
      Плохое
    %h2
      "i"


%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
%script(src="/app.js")
