.row-fluid
  .span3
    %h1
      Кавказцы
    %h2
      "e"
  .span6
    %h1
      Часть пятая
    #place
      %ul
        %li
          Удостоверьтесь, что названия категорий вверху экрана видны.
        %li
          Нажимайте клавишу "е", если фотография относится к категории указанной слева (Кавказцы).
        %li
          Нажимайте клавишу "i", если фотография относится к категории указанной справа (Русские).
        %li
          Если ваш ответ будет неверен, на экране появится знак "Х".
        %li
          Если появится знак "Х" постарайтесь как можно быстрее нажать другую клавишу.
        %li
          Под кавказцами имеются ввиду жители Северного Кавказа и независимых государств (Грузия, Армения и т.д.).
        %li
          Для продолжения нажмите клавишу "Пробел". Отвечайте быстро. Несколько ошибок допустить можно.
  .span3
    %h1
      Русские
    %h2
      "i"


%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
%script(src="/app.js")
