%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
%script(src="/app.js")

#tests

  #test0
    .row
      .span2
        %h1
          Русские
        %h2
          "e"
      .span8
        .showcase
          %h1
            Часть первая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Русские).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Кавказцы).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Под кавказцами имеются ввиду жители Северного Кавказа и независимых государств (Грузия, Армения и т.д.).
            %li
              Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span2
        %h1
          Кавказцы
        %h2
          "i"

  #test1
    .row-fluid
      .span3
        %h1
          Хорошее
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть вторая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Хорошее).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Плохое).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Для продолжения нажмите любую клавишу.Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Плохое
        %h2
          "i"

  #test2
    .row-fluid
      .span3
        %h1
          Русские
          %br/
          или
          %br/
          Хорошее
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть третья
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Русские или Хорошее).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Кавказцы или Плохое).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Для продолжения нажмите лубую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Кавказцы
          %br/
          или
          %br/
          Плохое
        %h2
          "i"

  #test3
    .row-fluid
      .span3
        %h1
          Русские
          %br/
          или
          %br/
          Хорошее
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть четвёртая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Русские или Хорошее).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Кавказцы или Плохое).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Кавказцы
          %br/
          или
          %br/
          Плохое
        %h2
          "i"

  #test4
    .row-fluid
      .span3
        %h1
          Кавказцы
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть пятая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Кавказцы).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Русские).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Под кавказцами имеются ввиду жители Северного Кавказа и независимых государств (Грузия, Армения и т.д.).
            %li
              Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Русские
        %h2
          "i"

  #test5
    .row-fluid
      .span3
        %h1
          Кавказцы
          %br/
          или
          %br/
          Хорошее
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть шестая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Кавказцы или Хорошее).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Русские или Плохое).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Русские
          %br/
          или
          %br/
          Плохое
        %h2
          "i"

  #test6
    .row-fluid
      .span3
        %h1
          Кавказцы
          %br/
          или
          %br/
          Хорошее
        %h2
          "e"
      .span6
        .showcase
          %h1
            Часть седьмая
          %ul
            %li
              Нажимайте клавишу "е", если фотография относится к категории указанной слева (Кавказцы или Хорошее).
            %li
              Нажимайте клавишу "i", если фотография относится к категории указанной справа (Русские или Плохое).
            %li
              Если появится сообщение об ошибке постарайтесь как можно быстрее нажать другую клавишу.
            %li
              Для продолжения нажмите любую клавишу. Отвечайте быстро. Несколько ошибок допустить можно.
      .span3
        %h1
          Русские
          %br/
          или
          %br/
          Плохое
        %h2
          "i"

  #greetings
    %h1
      %a{:href => '/'}
        Огромное спасибо за ваше время!

