body {
  position: relative;
  padding-top: 90px;
  background-color: #f9f9f9;
  font-size: 15px;
}

#introduction p {
  font-size: 15px;
  padding: 5px 0;
}

#introduction h1 {
  font-size: 44px;
  padding: 55px 0;
}

h1, h2, .center {
  text-align:center;
  padding: 20px;
}

#reminder {
  font-size: 15px;
}

#reminder li {
  padding: 5px 0;
}

#browser-alert {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 600px;
  display: none;
}

.showcase img {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

form {
  margin: 40px 0;
}

form legend {
  font-size: 14px;
  text-align: center;
}

form #personal-data {
  width: 250px;
  border: 0px;
  margin-right: 0px;
}

form #personal-data .controls {
  margin-right: 0px;
}

#personal-data .control-label {
  text-align: left;
}

#behaviour .control-group {
  padding-left: 90px;
}

#submit-button button {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.showcase h2 {
  margin-left: auto;
  margin-right: auto;
}

#tests li {
  padding: 5px 0;
}

#ajax-status {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 10px;
  margin: 4px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, sans-serif;
}
